



<%= form_with model: location do |form| %>
  <div class="field mb-3">
    <%= form.label "Name", class: "form-label" %><br>
    <%= form.text_field :name, class: "form-control" %>
    <% @location.errors.full_messages_for(:name).each do |message| %>
        <div><%= message %></div>
      <% end %>
  </div>

  <div class="field mb-3">
    <%= form.label "Street 1", class: "form-label" %><br>
    <%= form.text_area :street1, class: "form-control" %>
    <% @location.errors.full_messages_for(:street1).each do |message| %>
        <div><%= message %></div>
      <% end %>
  </div>

  <div class="field mb-3">
    <%= form.label "Street 2", class: "form-label" %><br>
    <%= form.text_area :street2, class: "form-control" %>
  </div>

  <div class="field mb-3">
    <%= form.label "City", class: "form-label" %><br>
    <%= form.text_area :city, class: "form-control" %>
    <% @location.errors.full_messages_for(:city).each do |message| %>
        <div><%= message %></div>
      <% end %>
  </div>

  <div class="field mb-3">
    <%= form.label "State", class: "form-label" %><br>
    <%= form.text_area :state, class: "form-control" %>
    <% @location.errors.full_messages_for(:state).each do |message| %>
        <div><%= message %></div>
      <% end %>
  </div>

  <div class="field mb-3">
    <%= form.label "Zip", class: "form-label" %><br>
    <%= form.text_area :zip, class: "form-control" %>
    <% @location.errors.full_messages_for(:zip).each do |message| %>
        <div><%= message %></div>
      <% end %>
  </div>

  <div class="field mb-3">
    <%= form.label "Categories", class: "form-label" %><br>
    <%= form.collection_check_boxes(:categories, Location::CATEGORIES, :last, :first )%>
  </div>

  <div class="actions">
    <%= form.submit "Edit Location", class: "btn btn-primary" %>
  </div>
<% end %>

  