<%= stylesheet_link_tag "my_style" %>
<div class="container">
<div class="row">
<div class="col border card"> 


<h1><%= @location.name %></h1>
<h2><%= @location.street1 + ", " + @location.city + ", " + @location.state + " " + @location.zip %></h2>
<% @location.categories.each do |c| %>
<h3><%= c.capitalize %></h3>
<% end %>

<% if user_signed_in? %>
    <div>
        <% @location.user_id %>
        <% if @location.user_id == current_user.id %>
            <%= link_to location_path(@location), method: "delete" do %>
                <span class="iconify" data-icon="bi:trash-fill" data-inline="false"></span>
            <% end %>
            <%= link_to edit_location_path(@location), method: "get" do %>
                <span class="iconify" data-icon="zmdi-edit" data-inline="false"></span>
            <% end %>
        <% else %>
        <% end %>
        <% if @favorite == nil %>
            <%= link_to "/favorites/#{@location.id}", method: "post" do %>
                <span class="iconify" data-icon="carbon:favorite" data-inline="false"></span>
            <% end %>
        <% else %>  
            <%= link_to "/favorites/#{@favorite.id}", method: "delete" do %>
                <span class="iconify" data-icon="carbon:favorite-filled" data-inline="false"></span>
            <% end %>
        <% end %>
    </div>
    <%= render 'comments/form' %>
    
<% end %>
</div>
</div>
</div>

<div class="container">
<div class="row">
<div class="col border card"> 
<h2>Comments</h2>
<% @location.comments.each do |comment| %>
    <div class="col border card"> 
    <% if comment.user %>
    <p>
        <strong>
            <%= comment.user.name%>
        </strong>
    </p>
    <p>
        <%= comment.body %>
    </p>
        <% if user_signed_in? %>
            <% if current_user.id == comment.user_id %>
                <%= link_to "/locations/#{@location.user_id}/comments/#{comment.id}", method: "delete" do %>
                <button>delete</button>
                <% end %>
            <% end %>
        <% end %>
    <% end %>
    </div>
<% end %>
</div>
</div>
</div>