<h1><%= @location.name %></h1>
<h2><%= @location.street1 + ", " + @location.city + ", " + @location.state + " " + @location.zip %></h2>
<% @location.categories.each do |c| %>
<h3><%= c.capitalize %></h3>
<% end %>

<% if user_signed_in? %>
    <div>
        <% @location.user_id %>
        <% if @location.user_id == current_user.id %>
            <header>Would you like to delete this location?</header>
            <%= link_to location_path(@location), method: "delete" do %>
                <button>delete</button>
            <% end %>
            <header>Would you like to edit this location?</header>
            <%= link_to edit_location_path(@location), method: "get" do %>
                <button>edit</button>
            <% end %>
        <% else %>
        <% end %>
    </div>
    <div>
        <% if @favorite == nil %>
            <header>Would you like to add this location to your favorites?</header>
            <%= link_to "/favorites/#{@location.id}", method: "post" do %>
                <button>yes</button>
            <% end %>
        <% else %>  
            <header>Remove this location from favorites</header>
            <%= link_to "/favorites/#{@favorite.id}", method: "delete" do %>
                <button>delete</button>
            <% end %>
        <% end %>
    </div>
    <%= render 'comments/form' %>
    
<% end %>
<h2>Comments</h2>
<% @location.comments.each do |comment| %>
    <% if comment.user %>
    <p>
        <strong>Commenter:</strong>
        <%= comment.user.name%>
    </p>

    <p>
        <strong>Comment:</strong>
        <%= comment.body %>
    </p>
        <% if user_signed_in? %>
            <% if current_user.id == comment.user_id %>
                <%= link_to "/locations/#{@location.user_id}/comments/#{comment.id}", method: "delete" do %>
                <button>delete</button>
                <% end %>
            <% end %>
        <% end %>
    <% end %>
<% end %>